header {
	background-image: url(../images/img-menu.jpg);
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	box-shadow: -4px 4px 5px -2px #2f2e2e;
}

@media (max-width: 767px){
	#menu-header {
		font-size: 2rem;
	}
	
	#basket{
		margin-top: 0px !important;
	}
}

#menu-tab li a {
	
}

/*   Change Color for Active Tabs  main tabs   */
#menu-tab a.active,
#menu-tab a.active:focus,
#menu-tab a.active:hover{
	background-color: #fff;
	border-color: #000;
	color: #000;
	cursor: default;
	font-size: 20px;
	font-weight: bold;
}
    
/*   Change Color for Inactive Tabs  main tabs     */
#menu-tab a {
	background-color: #fff;
	border-color: #999;
	color: #999;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
}

#menu-tab a:hover,
#menu-tab a:focus{
	background-color: #ebebeb;
}

#bar-categories .bar-category {
	color: #333;
	font-weight: 600;
	cursor: pointer;
	font-size: 18px;
}


/* arrow after links on bar-categoreis*/
#bar-categories .nav-item a,
#bar-categories .nav-item a:focus,
#bar-categories .nav-item a:hover,
#food-categories .nav-item a,
#food-categories .nav-item a:focus,
#food-categories .nav-item a:hover{
    color: #717171;
	font-size: 14px;
	text-decoration: none;
}

#food-categories .nav-item a,
#food-categories .nav-item a:focus,
#food-categories .nav-item a:hover{
	font-size: 18px;
}

#bar-categories .nav-item a:after,
#food-categories .nav-item a:after {
	color:#000;
    content: ' \f0da';
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    text-decoration: inherit;
	font-weight: 900;
	opacity: 0;
}

#bar-categories .nav-item a:hover,
#food-categories .nav-item a:hover{
  padding-right: 10px;
}

#bar-categories .nav-item a:hover:after,
#food-categories .nav-item a:hover:after {
  opacity: 1;
  right: 10px;
}

div#food-menu #food-categories li.nav-item{
	padding: 8px 0px;
}

div.category-container h2.category-title{
	color: #C0C0C0;
    padding: 10px 15px 10px 0;
    margin: 0;
    font-weight: 600;
	font-size: 30px;
}

div.category-box>div.row,
div.category-box div.table-responsive tr{
	cursor: pointer;
}


/* Exapnd symbol */
div.category-box div.expand-symbol{
	margin: auto 0px;
}

div.category-box div.expand-symbol i.fa-minus,
div.category-box div.expand-symbol i.fa-plus,
div.category-box td i.fa-plus-square{
	color: #784500;
}

div.category-box div.collapsed div.expand-symbol i.fa-minus{
	display: none;
}

div.category-box div.expand-symbol i.fa-minus{
	display: inline-block;
}

div.category-box div.collapsed div.expand-symbol i.fa-plus{
	display: inline-block;
}

div.category-box div.expand-symbol i.fa-plus{
	display: none;
}

div.category-box div.expand-title{
	color: #717171;
	font-size: 18px;
	font-weight: 600;
	margin-top: auto;
	margin-bottom: auto;
}

#modalTitle {
	color: #000;
	font-weight: bold;
}

#modal-price {
	color: #000;
	font-weight: bold;
}

div#addtocard-draft div.accordion div.card-header{
	background-color: #fff;
}

div#addtocard-draft div.accordion div.card{
	border: 0px;
}

.add-modal-title{
	font-weight: bold;
	text-decoration: underline;
	color: #000;
}

.right-float{
	float : right !important;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* modal symbol up/down */
.modal button.collapsed i.fa-caret-up{
	display: none;
}


.modal button i.fa-caret-up{
	display: inline-block;
}

.modal button.collapsed i.fa-caret-down{
	display: inline-block;
}


.modal button i.fa-caret-down{
	display: none;
}

.accordion div h2 button{
	background-color: #fff;
	border-color: #000;
	color: #000;
	font-size: 16px;
	font-weight: bold;
}

.accordion .card-header {
  padding-left: 0;
}


a.anchor {
    display: block;
    position: relative;
    top: -115px;
    visibility: hidden;
}

/* BASKET */
.alert-del-type{
	color: #292929;
	border-color: #ccc;
	font-size: 12px;
	background-color: #f5f3f1;
	font-weight: bold;
}

#basket-title{
	margin-top: 10px;
	color: #000000;
	font-size: 20px;
}

#basket{
	border-top: 1px solid #a3a4a5;
	border-bottom: 1px solid #a3a4a5;
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px;
	border-radius: 15px;
}

div.remove{
	cursor: pointer;
}

div.remove:hover i{
	color: #212529;
}

div.remove i{
	color: #613e00;
	font-size: 14px;
	margin-left:2px;
}

.item-info i{
	cursor: pointer;
	color:#784500;
}

.order-button:hover,
.order-button:focus,
#add-to-basket-button{
	background-color: #624229;
	color: #e1e1e1;
}

.complete-button:hover{
	background-color:#388e3c;
	color: #e1e1e1;
}

#add-to-basket-button:hover{
	background-color:#68472ecc;
}

img.img-responsive{
	max-height: 150px;
	width: auto;
	max-width: 125px;
}

@media (max-width: 992px){
	img.img-responsive{
		max-height: 100px;
	}
}

@media (max-width: 380px){
	img.img-responsive{
		display: none;
	}
}

