body{
  background-color: #212420; 
}

@media (max-width: 991px){
	.responsive-title{
		font-size: 3rem;
	}
}

@media (max-width: 512px){
	.responsive-title{
		font-size: 1.5rem;
	}
	
	.lead{
		font-size: 1rem;
	}
	
	.border{
		font-size: 16px !important;
	}
}


.carousel{
  box-shadow: 0px 4px 12px 4px #666464;
}

.carousel-inner{
	max-height: 500px;
}

.article-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-content{
  position: relative;
  height: 600px;  
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
}

.heading{
  padding: 30px;
  padding-bottom: 0px;
  color: #c1c1c1;
}

.day-section {
  background-image: url(../images/day.jpg);
}

.menu-section {
  background-image: url(../images/img-menu.jpg);
}

.night-section {
  background-image: url(../images/drink.jpg);
}

.reservations-section {
  background-image: url(../images/reservations.jpg);
}

.events-section {
  background-image: url(../images/img-event.jpeg);
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  box-shadow: 0px 1px 4px 1px #666464;
}
